<ul>
						<li class="documentation hoverable">
							<a href="#">Documentation</a>
							<div class="flyout multi-column">
								<div class="column">
									<h6>Overview</h6>
									<ul>
                                        <li><a href="<?page?>/doc/overview/why-use<?/?>">Why Use Agile Toolkit?</a></li>
                                        <li><a href="<?page?>/doc/overview/design<?/?>">Framework Design Goals</a></li>
                                        <li><a href="<?page?>/doc/overview/mvc<?/?>">MVC in Web User Interface</a></li>
                                        <li><a href="<?page?>/doc/overview/application<?/?>">Anatomy of an Application</a></li>
									</ul>
									<h6>Installation</h6>
									<ul>
                                        <li><a href="<?page?>/doc/installation/quick-start<?/?>">Quick Start</a></li>
                                        <li><a href="<?page?>/doc/installation/directory-structure<?/?>">Directory Structure</a></li>
                                        <li><a href="<?page?>/doc/installation/advanced-installation<?/?>">Advanced Methods</a></li>
									</ul>
									<h6>Agile Toolkit Development: Initials</h6>
									<ul>
                                        <li><a href="<?page?>/doc/initialdevelopment/hello-world<?/?>">Hello World Application</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Pages and Accessing Pages</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Working With Objects</a></li>
                                        <li><a href="<?page?>/doc/<?/?>">Basic Visual Elements</a></li>
                                    </ul>
								</div>
								<div class="column">
									<h6>ORM and Models</h6>
									<ul>
                                        <li><a href="<?page?>/doc/core/working-with-objects<?/?>">Working with Database</a></li>
                                        <li><a href="<?page?>/doc/core/event-hooks<?/?>">Models in Agiletoolkit</a></li>
                                        <li><a href="<?page?>/doc/core/namespaces<?/?>">Fields and MetaData</a></li>
                                        <li><a href="<?page?>/doc/core<?/?>">Data Manipulations</a></li>
                                        <li><a href="<?page?>/doc/core<?/?>">Relations and Refereances and Accessing Related Data</a></li>
									</ul>
								</div>

							</div>
						</li>
						<li>... rest to come...</li>
					</ul>